<%= form_for @post do |f| %>
    <%= f.label "title" %>
    <%= f.text_field :title %><br/>


    <%= f.label "content" %>
    <%= f.text_area :content %><br/>


    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <p>
            <%= b.label %>
            <%= b.check_box %>
        </p>
    <% end %>



        <%= f.fields_for :categories do |cat_builder| %>
            <%= cat_builder.text_field :name %>
        <% end %>

    <%= f.submit %>

<% end %>
